section.ant-layout {
  main.ant-layout-content {
    min-height: calc(100vh - 64px);
  }

  & section {
    display: flex;
    flex-direction: column;
    padding: 40px;

    & h3 {
      align-self: center;
      padding: 20px 0;
    }
  }
}
